<section class="flex justify-center items-center h-screen bg-gray-100">
  <div class="bg-white p-8 rounded shadow-md w-full sm:w-96">
    <h1 class="text-3xl font-semibold mb-4">Revisa tu correo</h1>
        <p>Se ha enviado un enlace para restablecer tu contraseña a tu correo electrónico. Por favor, revisa tu correo y sigue las instrucciones.</p>
    <form action="/api/users/resetpassword" method="POST">
      <button type="submit" class="w-full bg-indigo-500 text-white p-2 rounded-md hover:bg-indigo-600 transition duration-300">Enviar nuevamente</button>
    </form>
  </div>
</section>
{{#if error}}
  <p class="text-red"> {{error}} </p>
{{/if}}